@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");

body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#app {
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}


/* ****START****** STYLING FOR HEADER AND NAVBAR */
.header {
  height: 80px;
  width: 100%;
  background-color: #073b4c;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navbar {
  height: 80px;
  width: 80%;
  background-color: #073b4c;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nav-search {
  font-size: 1.5em;
  color: cornflowerblue;
  width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.nav-search-bar {
  position: absolute;
  top: 80px;
  width: 100%;
  padding: 5px;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  font-size: 1.2em;
  border-bottom: 1px solid gainsboro;
}

.nav-search-bar-handle {
  padding: 5px;
  width: 100px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}


/*Search Bar Input from header nav bar*/
#navSearchBarInput {
  font-size: 1.2em;
  width: 80%;
  border: 0px;
}


.logo-img {
  height: 40px;
}

nav ul {
  display: flex;
  flex-direction: row;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-weight: bold;
  font-size: 1em;
  justify-content: flex-start;
  align-items: flex-end;
  list-style-type: none;
  padding-left: 40px;
}

nav ul li {
	margin: 0px 5px 0px 5px;
	width: 100px;
	height: 20px;
	color: white;
	display: flex;
	justify-content: flex-start;
	text-decoration: none;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box; 
}


/* ****END****** STYLING FOR HEADER AND NAVBAR */

/* ****START****** STYLING FOR MAIN */

.main {
  margin: 0px;
  padding: 0px;
  width: 80%;
  display: flex;
  flex-direction: column;

}
.mainSearch {
  margin: 0px;
  background-color: #118ab2;
  width: 100%;
  box-sizing: border-box;
  height: 300px;
  padding: 30px;
}

#mainSearchBar {
  height: 45px;
  width: 70%;
  padding-left: 30px;
  border-radius: 30px;
  background-color: white;
  font-size: 1.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#mainSearchBarInput {
  height: 45px;
  width: 70%;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
  font-size: 1em;
  color: gray;
  border: 0px;
  width: 100%;
}

#searchButton {
  height: 45px;
  width: 100px;
  padding-left: 20px;
  padding-right: 20px;
  background-image: linear-gradient(to right, #7bcaab , #01b3e5);
  border: 0px;
  border-radius: 30px;
  color: white;
  font-weight: bold;
  font-size: .6em;
}

#searchButton:hover {
  color: black;
  cursor: pointer;
}

textarea:focus, input:focus{
  outline: none;
}

/* START: STYLING FOR POPULAR COMPONENT*/
.popular-wrapper{
  width: 100%;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 20px;
}
.popular {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  box-sizing: border-box;
  overflow: auto;
}

.movie-card {
  width: 220px;
  height: 450px;
  margin: 15px;
  display: flex;
  flex-direction: column;
}

.movie-poster {
  width: 220px;
  height: 310px;
  min-height: 310px;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.movie-poster:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.movie-detail {
  margin-top: 20px;
}

.rating-div {
  font-family: 'Source Sans Pro', Arial, sans-serif;
  color: gray;
  padding-top: 15px;
}

::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: gainsboro; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #073b4c; 
} 



/* END : STYLING FOR POPULAR */

/* END : STYLING FOR MAIN */

/* START : STYLING FOR SEARCH PAGE */

.search {
  padding-top: 80px;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 30px;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}

.search-filter {
  width: 300px;
  height: 500px;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', Arial, sans-serif;
}

.search-results {
  width: 100%;
  margin-left: 20px;
  font-family: 'Source Sans Pro', Arial, sans-serif;
}

.loading-card {
  width: 100%;
  height: 300px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  border-radius: 10px 10px 10px 10px;
}

.error-card {
  width: 100%;
  height: 300px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  border-radius: 10px 10px 10px 10px;
}

.movie-placard {
  width: 100%;
  height: 141px;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.movie-placard:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.movie-placard-img {
  width: 94px;
  min-width: 94px;
  height: 141px;
  border-radius: 10px 0px 0px 10px;
}

.movie-placard-detail {
  width: 100%;
  height: 141px;
  padding: 10px;
  box-sizing: border-box;
  overflow: hidden;
}

.rating {
  padding: 10px;
}

h3 {
  font-size: 1em;
  margin-bottom: 0px;
  margin-top: 0px;
}

h4 {
  font-size: .9em;
  color: rgb(194, 192, 192);
  margin-bottom: 0px;
  margin-top: 10px;
}

.search-footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.page-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.page-button {
  padding: 5px;
}

.page-button-active {
  border: 1px solid black;
  padding: 5px;
  box-sizing: border-box;
}

/* START : STYLING FOR SEARCH FILTER COMPONENT */
.search-filter-header {
  border: 1px solid gainsboro;
  border-radius: 10px 10px 0px 0px;
  background-color: #01b3e5;
  padding: 10px;
  font-weight: bold;
  color: white;
  box-sizing: border-box;
}

.search-filter-categories {
  border: 1px solid gainsboro;
  border-radius: 0px 0px 10px 10px ;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
}

.filter-header {
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 0px;
  padding: 0px;
  font-weight: bold;
  font-size: 1em;
}

ul {
  display: flex;
  flex-direction: column;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-size: 1em;
  justify-content: flex-start;
  align-items: flex-start;
  list-style-type: none;
  padding-left: 0px;
}


.search-filter-categories ul li {
  background-color: white;
  text-decoration: none;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}



.search-filter-categories ul li:hover {
  background-color: gainsboro;
}

.search-filter-categories ul li.activeCat {
  background-color: gainsboro;
  font-weight: bold;
}

a:link, a:visited{
  color: black;
  text-decoration: none;
}
/* END : STYLING FOR SEARCH FILTER COMPONENT */

/* START : STYLING FOR FOOTER */
.footer {
  height: 80px;
  width: 100%;
  background-color: #073b4c;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* STYLING FOR MODAL */
div.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

div.modal-inner {
  position: relative;
  padding: 0px;
  max-width: 800px;
  background-color: #fff;
  border-radius: 5px;
}

.movie-modal {
  width: 100%;
  height: 330px;
  display: flex;
  flex-direction: row;
  border-radius: 10px 10px 10px 10px;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.movie-modal-img {
  width: 220px;
  min-width: 220px;
  height: 330px;
  border-radius: 10px 0px 0px 10px;
  border: 1px solid gainsboro;
}

.movie-modal-detail {
  height: 330px;
  padding: 10px;
  overflow: auto;
}

button {
  background: white;
  border: 1px solid gainsboro;
}

button:hover {
  background: #073b4c;
  color: white;
}